@inherits LayoutComponentBase
@layout AccountLayout

<h1 class="m-3">Profil bállítások</h1>

<div>
    <h3 class="m-3">Itt változtathatod meg profilod beállításait</h3>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <ManageNavMenu />
        </div>
        <div class="col-md-9">
            @Body
        </div>
    </div>
</div>
